.card-side {
  background-color: rgb(202, 202, 255);
}

.dropdown-filter {
  width: 20rem;
}

.button-group {
  margin-top: 3rem;
}

.button {
  background-color: rgb(108, 197, 248);
}

.btn-secondary {
  background-color: whitesmoke;
  color: black;
}
